<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>AGENDA PASTORAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let c of agenda_pastoral">
      <ion-item-options>
        <ion-item-option color="danger" (click)="remover(c.id)">Deletar</ion-item-option>
      </ion-item-options>
      <ion-item size="full">
          <ion-card class="card-center">
              <ion-card-content>
                <ion-item lines="none">
                  <ion-icon name="calendar-clear" slot="start" color="warning"></ion-icon>
                  <ion-label>
                    <div>Data: {{c.data}}</div>
                    <div>Horário: {{c.time}}</div>
                  </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>
                    <p>{{c.tarefa}}</p>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novaTarefa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>



  <!-- <ion-card *ngFor="let c of agenda_pastoral">
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="calendar-clear" slot="start" color="warning"></ion-icon>
        <ion-label>
          <div>Data: {{c.data}}</div>
          <div>Horário: {{c.time}}</div>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>{{c.tarefa}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novaTarefa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


